* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: black;
  color: whitesmoke;
}
/* Inicio Header */
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
  background-color: #293949;
  margin: 15px;
  border-radius: 1em;
  border: solid 8px #be9857;
}
.logo{
  justify-self: end;
  margin-left: 10px;
  margin: 2em 0em 1em 0em;
  padding: 1em;
}
.cabecera{
  justify-self: start;
  font-size: 25px;
  margin-top: 1.6em;
  padding: 1em;
  color: #be9857;
}
h3{
  color: whitesmoke;
}
/* Fin header */
/* Inicio Main */
main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2em;
}
/* Lado izquierdo */
.tab-content .tab-pane {
  display: none;
  margin: 3em;
  padding: 1em;
}
.tab-content .tab-pane:first-child {
  display: block;
}
.tab-list li{
  display: inline-block;
}
.tab-list li a{
  background-color: #293949;
  border: solid 2px #be9857;
  border-radius: 1em;
  padding: 1em;
  text-decoration: none;
  color: whitesmoke;
}
.tab-pane{
  background-color: #293949;
  border: solid 4px #be9857;
  border-radius: 1em;
  padding: 1em;
}
.tab-link:active{
  background-color: #172029;
  border: solid 2px #ba8426;
  border-radius: 1em;
  color: rgb(179, 179, 179);
}
h2{
  text-decoration:underline;
  margin: 1em;
}
.subida {
  background-color: whitesmoke;
  border: solid 5px #be9857;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  height: 100px;
  width: 750px;
  font-size: x-large;
}
.subida::placeholder{
  font-size: x-large;
  color:#293949;
}
.subir-archivo {
  position: relative;
  display: absolute;
  width: 300px;
  left: 250px;
}
.subir-archivo::before{
  background-color: whitesmoke;
  color: black;
  border: solid 4px #be9857;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.subir-archivo input[type="file"]{
  opacity: 0;
  width: 300px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
.pdf::before{
  content: 'Seleccionar archivo pdf';
}
.audio::before{
  content: 'Seleccionar archivo de audio';
}
.datos {
  display: block;
  padding: 10px;
  margin: 10px;
}
.datos input {
  margin: 1em;
  width: 100%;
  height: 50px;
}
.nombre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
}
.primero {
  position: absolute;
  text-indent: 18px;
}
.a .n {
  display: inline-block;
}
label {
  font-size: 120%;
}
.datos select {
  margin: 1em;
  width: 100%;
  height: 60px;
}
.info-personal {
  font-size: 120%;
  border: solid 4px #be9857;
  border-radius: .5em;
  padding: .5em;
}
/* Lado derecho */
.vista{
  background-color: #293949;
  border: solid 4px #be9857;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  margin-top: 3.9em;
}
.qr {
  text-align: center;
  margin: 1em;
  padding: 1em;
}
.cont1 {
  background-color: #be9857;
  color: whitesmoke;
  padding: 1em;
  margin: 1em;
  border: solid 4px whitesmoke;
  border-radius: 1em;
  text-align: center;
}
.cont2 {
  background-color: #be9857;
  color: whitesmoke;
  padding: 1em;
  margin: 1em;
  border: solid 4px whitesmoke;
  border-radius: 1em;
  text-align: center;
}
.acordeon .contenido {
  position: relative;
  margin: 10px 10px;
}
.acordeon .etiqueta {
  position: relative;
  padding: 10px 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.504);
  cursor: pointer;
  height: 10px;
}
.acordeon .etiqueta::before {
  content: "⛛";
  color: #293949;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 20px;
  transform: translateY(-50%);
}
.acordeon .contenido {
  position: relative;
  height: 0;
  font-size: 20px;
  text-align: justify;
  overflow: hidden;
  transition: 0.5s;
}
.acordeon .contenedor.activa .contenido {
  height: 80px;
  padding: 1em;
}
.acordeon .contenedor.activa .etiqueta::before {
  content: "-";
  font-size: 40px;
}
#colorqr{
  width: 280px;
  height: 50px;
}
.subir-logo {
  position: relative;
  display: absolute;
}
.subir-logo::before{
  background-color: whitesmoke;
  color: #293949;
  border: solid 4px #293949;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.subir-logo input[type="file"]{
  opacity: 0;
  width: 280px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}
.img::before{
  content: 'Seleccionar imagen';
}
.boton-descarga{
  text-align: center;
}
button{
  background-color: #be9857;
  color: whitesmoke;
  padding: 1em;
  margin: 1em;
  border: solid 3px whitesmoke;
  border-radius: 1em;
  text-align: center;
  width: 170px;
  font-size: 17px;
  cursor: pointer;
}
button:hover{
  background-color: #b67300;
  color: rgb(189, 189, 189);
  border: solid 3px rgb(189, 189, 189);
  border-radius: 1em;
}
#ventanaEmergente {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#contenidoVentanaEmergente {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #293949;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
#ventanaEmergente2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#contenidoVentanaEmergente2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #293949;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.oculto {
  display: none;
}
/* Fin Main */
/* Inicio Footer */
footer{
  background-color: #293949;
  border: solid 4px #be9857;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  column-gap: 10px;
  row-gap: 1px;
  margin: 15px;
}
.logo-footer{
  justify-self: end;
}
.p-footer{
  color: White;
  position: relative;
  top: 15px;
}
/* Fin del footer */