* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: black;
  color: whitesmoke;
}
/* Inicio Header */
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
  background-color: #293949;
  margin: 15px;
  border-radius: 1em;
  border: solid 8px #be9857;
}
.logo{
  justify-self: end;
  margin-left: 10px;
  margin: 2em 0em 1em 0em;
  padding: 1em;
}
.cabecera{
  justify-self: start;
  font-size: 25px;
  margin-top: 1.6em;
  padding: 1em;
  color: #be9857;
}
h3{
  color: whitesmoke;
}
/* Fin header */
/* Inicio Main */
main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
  row-gap: 50px;
  padding: 2em;
}
.tab-content .tab-pane {
  display: none;
  margin: 3em;
}
.tab-content .tab-pane:first-child {
  display: block;
}
.tab-list li{
  display: inline-block;
}
.tab-list li a{
  background-color: #293949;
  border: solid 2px #be9857;
  border-radius: 1em;
  padding: 1em;
  text-decoration: none;
  color: whitesmoke;
}
.tab-pane{
  background-color: #293949;
  border: solid 4px #be9857;
  border-radius: 1em;
  padding: 1em;
}
.subida{
  background-color: whitesmoke;
  border: solid 4px #be9857;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  height: 300px;
  width: 900px;
}
/* Fin Main */
/* Inicio Footer */
footer{
  background-color: #293949;
  border: solid 4px #be9857;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  column-gap: 10px;
  row-gap: 1px;
  margin: 15px;
}
.logo-footer{
  justify-self: end;
}
.p-footer{
  color: White;
  position: relative;
  top: 15px;
}
/* Fin del footer */